body {
    background-color: #555555;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.common {
    background-color: black;
    border: solid 2px white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 0px;
    bottom: 64px;
    z-index: 1;
}

.mainbody {
    top: 114px;
    bottom: 14px;
    left: 14px;
    right: 114px; 
    padding-left: 250px;
}

.rightmenu {
    top: 114px;
    bottom: 14px;
    right: 5px;
    width: 100px;
}

.footer {
    bottom: 5px;
    height: 0px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    color: black;
    text-align: center;
}

.subheader {
    float: right;
    padding-top: -50px;
}