body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color:aquamarine;
    background-color: black;
}

li {
    font-size: 14px;
    font-style: italic;
}

a {
    color: blueviolet;
}